.ActorCard{
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    margin-bottom: 5px;
    width: 150px;
}
.ActorCard img{
    width: 150px;
}
.ActorCard_info{
    margin-left: 10px;
}